.login-form {
  border: solid 4px rgba(1, 39, 207, 0.98);
  border-radius: 50px;
  width: 25%;
  margin-top: 6.5%;
  margin-left: 35%;
  height: 10%;
  padding: 2%;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 150%;
  font-family: Georgia, serif;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.login-input-field {
  padding: 16px;
  font-size: 80%;
  border-width: 0px;
  width: 50%;
  height: 25px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: black;
  border-style: dashed;
  border-radius: 50px;
  box-shadow: 0px 0px 6px rgba(0, 46, 245, 0.98);
}
.login-input-field-password {
  padding: 16px;
  font-size: 16px;
  border-width: 0px;
  width: 50%;
  height: 25px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: black;
  border-style: dashed;
  border-radius: 50px;
  box-shadow: 0px 0px 6px rgba(0, 46, 245, 0.98);
}
.login-link{
    text-decoration:none;
}