.register-form {
  border: solid 4px rgba(1, 39, 207, 0.98);
  border-radius: 50px;
  width: 25%;
  margin-top: 8%;
  margin-left: 35%;
  height: 10%;
  padding: 2%;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 150%;
  font-family: Georgia, serif;
  font-weight: 100;
  letter-spacing: 0.5px;
  display: block;
}
.register-button {
	background-color:rgba(0, 44, 241, 0.98);
	border-radius:55px;
	border:1px solid rgba(1, 39, 207, 0.98);
    display: block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    margin: 4%;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 25%;
    width: 50%;
    height: 50px;
}
.register-button:active {
	position:relative;
	top:1px;
}
.register-link{
    text-decoration:none;
}
